.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}

.car-details__scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

/* Цвет скроллбара при наведении */
.car-details__scroll-container::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 20px;
}

/* Скрытие вертикального и горизонтального треков */
.car-details__scroll-container::-webkit-scrollbar-track {
  display: none;
}